* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
}

.imagem {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}


.imagem:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.imagem1 {
  background: url('./img/2.jpg') no-repeat;
  background-size: 100% 100%;
}

.imagem2 {
  background: url('./img/3.jpg') no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}

.imagem3 {
  background: url('./img/1.jpg') no-repeat;
  background-size: 100% 100%;
}

.logo {
  display: flex;
  padding-top: 30%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}




.titulo {
  font-size: 25px;
  color: #d09b51;
  
  background-color: #966907;
   animation: typewriter 4s steps(13) infinite alternate,
   blink 800ms steps(13) infinite normal;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid black;
}

@keyframes typewriter {
  from {
      width: 0%;
  }
  to {
      width: 100%;
  }
}
@keyframes blink {
  from {
      border-color: black;
  }
  to {
      border-color: transparent;
  }
}



.logo img {
  max-width: 80%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.titulo {
  color: black;
  text-align: center;
  font-weight: 950;
  
 
}

a {
  text-decoration: none;
}

.image {
  -webkit-filter:grayscale(100%);
}
.image:hover {
  -webkit-filter:grayscale(0%);
  transition: 1s;
}


